<a href="https://colab.research.google.com/github/natbelo/C-digos-de-Estudo/blob/main/Manipular_Tabelas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from datascience import *

/usr/local/lib/python3.6/dist-packages/datascience/tables.py:17: MatplotlibDeprecationWarning: The 'warn' parameter of use() is deprecated since Matplotlib 3.1 and will be removed in 3.3.  If any parameter follows 'warn', they should be pass as keyword, not positionally.
  matplotlib.use('agg', warn=False)
/usr/local/lib/python3.6/dist-packages/datascience/util.py:10: MatplotlibDeprecationWarning: The 'warn' parameter of use() is deprecated since Matplotlib 3.1 and will be removed in 3.3.  If any parameter follows 'warn', they should be pass as keyword, not positionally.
  matplotlib.use('agg', warn=False)

In [ ]:
import numpy as np

In [ ]:
nba_salaries = Table.read_table('/content/drive/My Drive/Cloud Skills Challenge - Microsoft/nba_salaries.csv')

In [ ]:
nba_salaries

PLAYER           | POSITION | TEAM          | '15-'16 SALARY
Paul Millsap     | PF       | Atlanta Hawks | 18.6717
Al Horford       | C        | Atlanta Hawks | 12
Tiago Splitter   | C        | Atlanta Hawks | 9.75625
Jeff Teague      | PG       | Atlanta Hawks | 8
Kyle Korver      | SG       | Atlanta Hawks | 5.74648
Thabo Sefolosha  | SF       | Atlanta Hawks | 4
Mike Scott       | PF       | Atlanta Hawks | 3.33333
Kent Bazemore    | SF       | Atlanta Hawks | 2
Dennis Schroder  | PG       | Atlanta Hawks | 1.7634
Tim Hardaway Jr. | SG       | Atlanta Hawks | 1.30452
... (407 rows omitted)

In [ ]:
#O método num_columns fornece o número de colunas da tabela e num_rows fornece o número de linhas.
nba_salaries.num_columns

4

In [ ]:
nba_salaries.num_rows

417

In [ ]:
#O método labels pode ser usado para listar os rótulos de todas as colunas
nba_salaries.labels

('PLAYER', 'POSITION', 'TEAM', "'15-'16 SALARY")

In [ ]:
#Podemos alterar os rótulos de coluna usando o método relabeled. Isso cria uma tabela e deixa nba_salaries inalterado.
nba_salaries.relabeled("PLAYER", 'JOGADOR')

JOGADOR          | POSITION | TEAM          | '15-'16 SALARY
Paul Millsap     | PF       | Atlanta Hawks | 18.6717
Al Horford       | C        | Atlanta Hawks | 12
Tiago Splitter   | C        | Atlanta Hawks | 9.75625
Jeff Teague      | PG       | Atlanta Hawks | 8
Kyle Korver      | SG       | Atlanta Hawks | 5.74648
Thabo Sefolosha  | SF       | Atlanta Hawks | 4
Mike Scott       | PF       | Atlanta Hawks | 3.33333
Kent Bazemore    | SF       | Atlanta Hawks | 2
Dennis Schroder  | PG       | Atlanta Hawks | 1.7634
Tim Hardaway Jr. | SG       | Atlanta Hawks | 1.30452
... (407 rows omitted)

In [ ]:
nba_salaries

PLAYER           | POSITION | TEAM          | '15-'16 SALARY
Paul Millsap     | PF       | Atlanta Hawks | 18.6717
Al Horford       | C        | Atlanta Hawks | 12
Tiago Splitter   | C        | Atlanta Hawks | 9.75625
Jeff Teague      | PG       | Atlanta Hawks | 8
Kyle Korver      | SG       | Atlanta Hawks | 5.74648
Thabo Sefolosha  | SF       | Atlanta Hawks | 4
Mike Scott       | PF       | Atlanta Hawks | 3.33333
Kent Bazemore    | SF       | Atlanta Hawks | 2
Dennis Schroder  | PG       | Atlanta Hawks | 1.7634
Tim Hardaway Jr. | SG       | Atlanta Hawks | 1.30452
... (407 rows omitted)

In [ ]:
nba_salaries.column('PLAYER')

array(['Paul Millsap', 'Al Horford', 'Tiago Splitter', 'Jeff Teague',
       'Kyle Korver', 'Thabo Sefolosha', 'Mike Scott', 'Kent Bazemore',
       'Dennis Schroder', 'Tim Hardaway Jr.', 'Walter Tavares',
       'Jason Richardson', 'Lamar Patterson', 'Terran Petteway',
       'Avery Bradley', 'Isaiah Thomas', 'Jae Crowder', 'Jonas Jerebko',
       'Marcus Smart', 'Evan Turner', 'Tyler Zeller', 'Jared Sullinger',
       'Kelly Olynyk', 'Perry Jones', 'Terry Rozier', 'James Young',
       'Zoran Dragic', 'Jordan Mickey', 'R.J. Hunter', 'Joe Johnson',
       'Thaddeus Young', 'Jarrett Jack', 'Bojan Bogdanovic',
       'Sergey Karasev', 'Wayne Ellington', 'Shane Larkin',
       'Andrea Bargnani', 'Rondae Hollis-Jefferson', 'Earl Clark',
       'Chris McCullough', 'Thomas Robinson', 'Markel Brown',
       'Al Jefferson', 'Nicolas Batum', 'Kemba Walker', 'Marvin Williams',
       'Michael Kidd-Gilchrist', 'Spencer Hawes', 'Courtney Lee',
       'Cody Zeller', 'Jeremy Lamb', 'Brian Roberts',
       'Frank Kaminsky III', 'Jeremy Lin', 'P.J. Hairston',
       'Damien Wilkins', 'Jorge Gutierrez', 'Tyler Hansbrough',
       'Troy Daniels', 'Aaron Harrison', 'Derrick Rose', 'Jimmy Butler',
       'Joakim Noah', 'Pau Gasol', 'Nikola Mirotic', 'Mike Dunleavy',
       'Kirk Hinrich', 'Doug McDermott', 'Aaron Brooks', 'Tony Snell',
       'Bobby Portis', "E'Twaun Moore", 'LeBron James', 'Kevin Love',
       'Kyrie Irving', 'Tristan Thompson', 'Brendan Haywood',
       'Iman Shumpert', 'Timofey Mozgov', 'Mo Williams', 'Sasha Kaun',
       'Matthew Dellavedova', 'David Lee', 'Chandler Parsons',
       'Dirk Nowitzki', 'Deron Williams', 'Zaza Pachulia', 'J.J. Barea',
       'Devin Harris', 'Raymond Felton', 'Justin Anderson',
       'JaVale McGee', 'John Jenkins', 'Danilo Gallinari',
       'Kenneth Faried', 'Wilson Chandler', 'JJ Hickson', 'Jameer Nelson',
       'Will Barton', 'Emmanuel Mudiay', 'Darrell Arthur', 'Jusuf Nurkic',
       'Joffrey Lauvergne', 'Gary Harris', 'Nikola Jokic',
       'Kostas Papanikolaou', 'Sean Kilpatrick', 'Reggie Jackson',
       'Aron Baynes', 'Jodie Meeks', 'Andre Drummond',
       'Kentavious Caldwell-Pope', 'Stanley Johnson', 'Joel Anthony',
       'Danny Granger', 'Reggie Bullock', 'Darrun Hilliard',
       'Klay Thompson', 'Draymond Green', 'Andrew Bogut',
       'Andre Iguodala', 'Stephen Curry', 'Jason Thompson',
       'Shaun Livingston', 'Harrison Barnes', 'Marreese Speights',
       'Leandro Barbosa', 'Festus Ezeli', 'Brandon Rush', 'Kevon Looney',
       'Anderson Varejao', 'Dwight Howard', 'James Harden', 'Ty Lawson',
       'Corey Brewer', 'Trevor Ariza', 'Patrick Beverley',
       'K.J. McDaniels', 'Terrence Jones', 'Donatas Motiejunas',
       'Sam Dekker', 'Clint Capela', 'Montrezl Harrell', 'Paul George',
       'Monta Ellis', 'Rodney Stuckey', 'Chase Budinger', 'C.J. Miles',
       'Lavoy Allen', 'Jordan Hill', 'Ian Mahinmi', 'Myles Turner',
       'Solomon Hill', 'Glenn Robinson III', 'Rakeem Christmas',
       'Joe Young', 'Chris Paul', 'Blake Griffin', 'J.J. Redick',
       'Jamal Crawford', 'Paul Pierce', 'Austin Rivers', 'C.J. Wilcox',
       'Cole Aldrich', 'Wesley Johnson', 'Jordan Hamilton',
       'Lester Hudson', 'Pablo Prigioni', 'Jeff Ayres', 'Kobe Bryant',
       'Roy Hibbert', 'Louis Williams', 'Nick Young', "D'Angelo Russell",
       'Julius Randle', 'Brandon Bass', 'Ryan Kelly', 'Larry Nance Jr.',
       'Robert Sacre', 'Anthony Brown', 'Marc Gasol', 'Zach Randolph',
       'Mike Conley', 'Jeff Green', 'Lance Stephenson', 'Brandan Wright',
       'Tony Allen', 'Chris Andersen', 'Mario Chalmers', 'Vince Carter',
       'Matt Barnes', 'Beno Udrih', 'Jordan Adams', 'Jarell Martin',
       'JaMychal Green', 'Russ Smith', 'James Ennis', 'Jarnell Stokes',
       'Jarrid Famous', 'Ryan Hollins', 'Elliot Williams', 'Chris Bosh',
       'Dwyane Wade', 'Goran Dragic', 'Luol Deng', 'Josh McRoberts',
       'Udonis Haslem', 'Justise Winslow', 'Henry Walker',
       'Tyler Johnson', 'Greg Whittington', 'Josh Richardson',
       'Corey Hawkins', 'Khris Middleton', 'O.J. Mayo', 'Greivis Vasquez',
       'Jabari Parker', 'Jerryd Bayless', 'John Henson',
       'Michael Carter-Williams', 'Miles Plumlee',
       'Giannis Antetokounmpo', 'Rashad Vaughn', 'Tyler Ennis',
       'Chris Copeland', 'Damien Inglis', 'Ricky Rubio', 'Nikola Pekovic',
       'Kevin Garnett', 'Kevin Martin', 'Andrew Wiggins',
       'Karl-Anthony Towns', 'Nemanja Bjelica', 'Zach LaVine',
       'Shabazz Muhammad', 'Adreian Payne', 'Gorgui Dieng', 'Tyus Jones',
       'Damjan Rudez', 'Eric Gordon', 'Tyreke Evans', 'Jrue Holiday',
       'Omer Asik', 'Ryan Anderson', 'Anthony Davis', 'Alexis Ajinca',
       'Quincy Pondexter', 'Norris Cole', 'Dante Cunningham',
       'Alonzo Gee', 'Toney Douglas', 'Luke Babbitt', 'Kendrick Perkins',
       'Bo McCalebb', 'Bryce Dejean-Jones', 'Carmelo Anthony',
       'Robin Lopez', 'Arron Afflalo', 'Jose Calderon',
       'Kristaps Porzingis', 'Derrick Williams', "Kyle O'Quinn",
       'Lance Thomas', 'Lou Amundson', 'Jerian Grant', 'Jimmer Fredette',
       'Langston Galloway', 'Thanasis Antetokounmpo', 'Kevin Durant',
       'Russell Westbrook', 'Enes Kanter', 'Serge Ibaka', 'Dion Waiters',
       'Kyle Singler', 'Nick Collison', 'Anthony Morrow', 'Randy Foye',
       'D.J. Augustin', 'Steven Adams', 'Cameron Payne', 'Mitch McGary',
       'Andre Roberson', 'Josh Huestis', 'Steve Novak', 'Tobias Harris',
       'Nikola Vucevic', 'Brandon Jennings', 'Channing Frye',
       'Ersan Ilyasova', 'Victor Oladipo', 'Jason Smith', 'Aaron Gordon',
       'Mario Hezonja', 'Elfrid Payton', 'Andrew Nicholson',
       'Evan Fournier', 'Shabazz Napier', 'Keith Appling',
       'Gerald Wallace', 'Carl Landry', 'Joel Embiid', 'Jahlil Okafor',
       'Nerlens Noel', 'Nik Stauskas', 'Furkan Aldemir', 'Tony Wroten',
       'Kendall Marshall', 'Richaun Holmes', 'Robert Covington',
       'Jerami Grant', 'JaKarr Sampson', 'Eric Bledsoe', 'Tyson Chandler',
       'Mirza Teletovic', 'P.J. Tucker', 'Alex Len', 'Devin Booker',
       'T.J. Warren', 'Archie Goodwin', 'Jon Leuer', 'Jerel McNeal',
       'Terrico White', 'Bryce Cotton', 'Lorenzo Brown',
       'Orlando Johnson', 'Phil Pressey', 'Jordan McRae',
       'Cory Jefferson', 'Al-Farouq Aminu', 'Ed Davis',
       'Gerald Henderson', 'Chris Kaman', 'Damian Lillard',
       'Meyers Leonard', 'Maurice Harkless', 'Noah Vonleh',
       'C.J. McCollum', 'Mason Plumlee', 'Allen Crabbe',
       'Pat Connaughton', 'Luis Montero', 'Cliff Alexander',
       'DeMarcus Cousins', 'Rudy Gay', 'Rajon Rondo', 'Kosta Koufos',
       'Marco Belinelli', 'Darren Collison', 'Willie Cauley-Stein',
       'Ben McLemore', 'Omri Casspi', 'Caron Butler', 'James Anderson',
       'LaMarcus Aldridge', 'Kawhi Leonard', 'Tony Parker', 'Danny Green',
       'Boris Diaw', 'Tim Duncan', 'Patty Mills', 'Manu Ginobili',
       'David West', 'Boban Marjanovic', 'Reggie Williams',
       'Kyle Anderson', 'Ray McCallum', 'DeMarre Carroll', 'Kyle Lowry',
       'DeMar DeRozan', 'Cory Joseph', 'Patrick Patterson',
       'Jonas Valanciunas', 'Terrence Ross', 'Luis Scola',
       'Bismack Biyombo', 'Luke Ridnour', 'James Johnson',
       'Lucas Nogueira', 'Bruno Caboclo', 'Delon Wright', 'Norman Powell',
       'Shannon Scott', 'Ronald Roberts Jr.', 'Gordon Hayward',
       'Alec Burks', 'Trevor Booker', 'Dante Exum', 'Tibor Pleiss',
       'Trey Burke', 'Shelvin Mack', 'Trey Lyles', 'Joe Ingles',
       'Rodney Hood', 'Rudy Gobert', 'Chris Johnson', 'Grant Jerrett',
       'Jeff Withey', 'Raul Neto', 'Treveon Graham', 'Erick Green',
       'John Wall', 'Nene Hilario', 'Marcin Gortat', 'Markieff Morris',
       'Bradley Beal', 'Martell Webster', 'Otto Porter Jr.',
       'Kris Humphries', 'Jared Dudley', 'Alan Anderson', 'Drew Gooden',
       'Ramon Sessions', 'Gary Neal', 'DeJuan Blair', 'Kelly Oubre Jr.',
       'Garrett Temple', 'Jarell Eddie'], dtype='<U24')

In [ ]:
nba_salaries.column('PLAYER').item(0)

'Paul Millsap'

In [ ]:
nba = nba_salaries.relabeled("'15-'16 SALARY", 'Salary')
nba.sort('Salary')

PLAYER                 | POSITION | TEAM                 | Salary
Thanasis Antetokounmpo | SF       | New York Knicks      | 0.030888
Jordan McRae           | SG       | Phoenix Suns         | 0.049709
Cory Jefferson         | PF       | Phoenix Suns         | 0.049709
Elliot Williams        | SG       | Memphis Grizzlies    | 0.055722
Orlando Johnson        | SG       | Phoenix Suns         | 0.055722
Phil Pressey           | PG       | Phoenix Suns         | 0.055722
Keith Appling          | PG       | Orlando Magic        | 0.061776
Sean Kilpatrick        | SG       | Denver Nuggets       | 0.099418
Erick Green            | PG       | Utah Jazz            | 0.099418
Jeff Ayres             | PF       | Los Angeles Clippers | 0.111444
... (407 rows omitted)

In [ ]:
#Para ordenar as linhas da tabela em ordem decrescente de salário, devemos usar sort com a opção descending=True.

nba.sort('Salary', descending=True)

PLAYER          | POSITION | TEAM                  | Salary
Kobe Bryant     | SF       | Los Angeles Lakers    | 25
Joe Johnson     | SF       | Brooklyn Nets         | 24.8949
LeBron James    | SF       | Cleveland Cavaliers   | 22.9705
Carmelo Anthony | SF       | New York Knicks       | 22.875
Dwight Howard   | C        | Houston Rockets       | 22.3594
Chris Bosh      | PF       | Miami Heat            | 22.1927
Chris Paul      | PG       | Los Angeles Clippers  | 21.4687
Kevin Durant    | SF       | Oklahoma City Thunder | 20.1586
Derrick Rose    | PG       | Chicago Bulls         | 20.0931
Dwyane Wade     | SG       | Miami Heat            | 20
... (407 rows omitted)

In [ ]:
nba.take(0)

PLAYER       | POSITION | TEAM          | Salary
Paul Millsap | PF       | Atlanta Hawks | 18.6717

In [ ]:
#O método take usa um conjunto específico de linhas.
nba.take(np.arange(3,6))

PLAYER          | POSITION | TEAM          | Salary
Jeff Teague     | PG       | Atlanta Hawks | 8
Kyle Korver     | SG       | Atlanta Hawks | 5.74648
Thabo Sefolosha | SF       | Atlanta Hawks | 4

In [ ]:
#Se quisermos uma tabela com os cinco jogadores mais bem pagos, podemos primeiro classificar a lista por salário e, em seguida, take as primeiras cinco linhas:

nba.sort('Salary', descending=True).take(np.arange(5))

PLAYER          | POSITION | TEAM                | Salary
Kobe Bryant     | SF       | Los Angeles Lakers  | 25
Joe Johnson     | SF       | Brooklyn Nets       | 24.8949
LeBron James    | SF       | Cleveland Cavaliers | 22.9705
Carmelo Anthony | SF       | New York Knicks     | 22.875
Dwight Howard   | C        | Houston Rockets     | 22.3594

In [ ]:
#todos aqueles que ganharam mais de US$ 10 milhões

nba.where('Salary', are.above(10))

PLAYER         | POSITION | TEAM              | Salary
Paul Millsap   | PF       | Atlanta Hawks     | 18.6717
Al Horford     | C        | Atlanta Hawks     | 12
Joe Johnson    | SF       | Brooklyn Nets     | 24.8949
Thaddeus Young | PF       | Brooklyn Nets     | 11.236
Al Jefferson   | C        | Charlotte Hornets | 13.5
Nicolas Batum  | SG       | Charlotte Hornets | 13.1253
Kemba Walker   | PG       | Charlotte Hornets | 12
Derrick Rose   | PG       | Chicago Bulls     | 20.0931
Jimmy Butler   | SG       | Chicago Bulls     | 16.4075
Joakim Noah    | C        | Chicago Bulls     | 13.4
... (59 rows omitted)

In [ ]:
nba.where('Salary', are.above(10)).sort('Salary')

PLAYER          | POSITION | TEAM                 | Salary
DeMar DeRozan   | SG       | Toronto Raptors      | 10.05
Gerald Wallace  | SF       | Philadelphia 76ers   | 10.1059
Luol Deng       | SF       | Miami Heat           | 10.1516
Monta Ellis     | SG       | Indiana Pacers       | 10.3
Wilson Chandler | SF       | Denver Nuggets       | 10.4494
Brendan Haywood | C        | Cleveland Cavaliers  | 10.5225
Jrue Holiday    | PG       | New Orleans Pelicans | 10.5955
Tyreke Evans    | SG       | New Orleans Pelicans | 10.7346
Marcin Gortat   | C        | Washington Wizards   | 11.2174
Thaddeus Young  | PF       | Brooklyn Nets        | 11.236
... (59 rows omitted)

In [ ]:
#para saber quanto ganhou determinado jogador

nba.where('PLAYER', are.equal_to('Stephen Curry'))

PLAYER        | POSITION | TEAM                  | Salary
Stephen Curry | PG       | Golden State Warriors | 11.3708

In [ ]:
# equivalent a nba.where('PLAYER', are.equal_to('Stephen Curry'))

nba.where('PLAYER', 'Stephen Curry')

PLAYER        | POSITION | TEAM                  | Salary
Stephen Curry | PG       | Golden State Warriors | 11.3708

In [ ]:
#| Predicate                       | Description                                                 |
#|---------------------------------|-------------------------------------------------------------|
#| `are.equal_to(Z)`               | Equal to `Z`                                                |
#| `are.above(x)`                  | Greater than `x`                                            |
#| `are.above_or_equal_to(x)`      | Greater than or equal to `x`                                |
#| `are.below(x)`                  | Less than `x`                                               |
#| `are.below_or_equal_to(x)`      | Less than or equal to `x`                                   |
#| `are.between(x, y)`             | Greater than or equal to `x`, and less than `y`             |
#| `are.strictly_between(x, y)`    | Greater than `x` and less than `y`                          |
#| `are.between_or_equal_to(x, y)` | Greater than or equal to `x`, and less than or equal to `y` |
#| `are.containing(S)`             | Contains the string `S`                                     |
#| `are.not_equal_to(Z)`           | Not equal to `Z` |
#| `are.not_above(x)`              | Not above `x`    |

In [ ]:
#Quanto em dinheiro cada equipe paga pelos salários de seus jogadores

teams_and_money = nba.select('TEAM', 'Salary')
teams_and_money.group('TEAM', sum)

TEAM                  | Salary sum
Atlanta Hawks         | 69.5731
Boston Celtics        | 50.2855
Brooklyn Nets         | 57.307
Charlotte Hornets     | 84.1024
Chicago Bulls         | 78.8209
Cleveland Cavaliers   | 102.312
Dallas Mavericks      | 65.7626
Denver Nuggets        | 62.4294
Detroit Pistons       | 42.2118
Golden State Warriors | 94.0851
... (20 rows omitted)

In [ ]:
#Quantos jogadores da NBA havia em cada uma das cinco posições

nba.group('POSITION')

POSITION | count
C        | 69
PF       | 85
PG       | 85
SF       | 82
SG       | 96

In [ ]:
#salário médio por posição

positions_and_money = nba.select('POSITION', 'Salary')
positions_and_money.group('POSITION', np.mean)

POSITION | Salary mean
C        | 6.08291
PF       | 4.95134
PG       | 5.16549
SF       | 5.53267
SG       | 3.9882